{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}
        <div class="row justify-content-md-center">
            <div class="col-lg-5 white-box">
                <h2>
                    Change password
                </h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3 float-end">Change password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}