{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-7 white-box px-3">
                <h1 class="mb-3">Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3 mb-2">Sign Up</button>
                </form>
                <br>
                <p>Already have an account? <a style="text-decoration: none;"
                                               href="{% url 'accounts:login' %}">Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}