<nav class="nav main-nav">
    <div class="container">
        <div class="logo">
            <a href="{% url 'photos:home' %}">Django Photography</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'blog:home' %}">Blog</a></li>
                <li><a href="{% url 'photos:albums' %}">Albums</a></li>
                <li><a href="{% url 'photos:photo_list' %}">Galleries</a></li>
                <li><a href="{% url 'photos:home' %}#contact-form">Contact</a></li>

                <li>
                    <a href="#"
{#                       tabindex="0"#}
                       id="user-menu"
                       data-bs-toggle="popover"
                       data-bs-trigger="focus"
                       html="true"
                       data-html="true"
                       title="{{ request.user.username|title }}"
                            {% if request.user.is_authenticated %}
                       data-bs-content="<a href='{% url 'accounts:logout' %}'>Logout</a>"
                            {% else %}
                       data-bs-content="<a href='{% url 'accounts:login' %}'>Login</a>"
                            {% endif %}
                       data-bs-placement="bottom">
                        <i class="bi bi-person" style="font-size: 1.5rem;"></i>
                    </a>
                </li>


                <li>
                    <div>
                        <form class="search-box d-flex justify-content-center" method="get"
                              action="{% url 'photos:search' %}">
                            <input class="search_bar" name="q" type="search" value='{{ request.GET.q }}'>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>
