<footer class="text-center text-white main-footer" style="margin-top: auto;">

    <div class="container pt-2">

        <section class="mb-2">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i></a>

        </section>
    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(236,233,230,0.42);">
        © {% now 'Y' %} Copyright:
        <a class="text-dark" href="#">Django Photography</a>
    </div>

</footer>