<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="{% url 'home' %}">Django Photography</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Galleries</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>