{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center mt-90">
            <div class="col-xl-8 col-lg-9 col-md-10">

                <form action="" method="post" class="row g-3 mb-3 white-box"
                      enctype="multipart/form-data">
                    <h2 class="mb-0 text-center">Create <b>New Post</b></h2>
                    <div class="col-12">
                        <hr class="half-gradient-hr">
                    </div>
                    <div class="col-6">
                        <a class="btn btn-secondary  w-100" href="{% url 'blog:create' %}">One-by-one photo
                            upload</a>
                    </div>

                    <div class="col-6">
                        <a class="btn btn-outline-secondary w-100" href="{% url 'blog:create_bulk' %}">Bulk photo
                            upload</a>
                    </div>

                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="col-10">
                        {{ form.title|as_crispy_field }}
                    </div>

                    <div class="col-2">
                        {{ form.status|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.text|as_crispy_field }}
                    </div>

                    <div class="col-12">
                        {{ form.tags|as_crispy_field }}
                    </div>


                    <h3 class="mt-2 text-center">Post Photos</h3>
                    <hr class="half-gradient-hr">
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" name="new_album" id="new-album" checked>
                        <label class="form-check-label" for="new-album">Create new album with this post photos</label>
                    </div>

                    <div class="col-12">
                        <div class="row" id="post_form">

                            {% for formset in inlines %}
                                {{ formset.management_form }}
                                {{ formset|as_crispy_errors }}

                                {% for photo_form in formset %}

                                    <div class="col-md-12 col-lg-6 p-2 d-inline-flex align-self-stretch image-form">
                                        <div class="form-photo-box w-100">
                                            <div class="p-3"><b>Add a photo</b></div>
                                            <div class="p-2">
                                                {{ photo_form|crispy }}
                                                <button class="align-self-center btn btn-danger delete-image-form">
                                                    Delete
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                    <div id="form-end-hidden" style="display: none;"></div>
                                {% endfor %}
                                <div class="col-12">
                                    <button id="add-image-form" class="btn btn-link my-2">Add Another Image</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-12 mt-2">
                        <div class="row">
                            <div class="col-2">
                                <a href="{% url 'blog:home' %}"
                                   class="btn btn-outline-secondary w-100 mb-3">Cancel</a>
                            </div>
                            <div class="col-10">
                                <button type="submit" class="btn btn-success w-100 mb-3">Create Post</button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
