{% extends 'base.html' %}

{% block title %}
    Django Photography Website
{% endblock %}

{% block content %}
    {% include 'includes/small_header.html' %}
    <div class="row justify-content-md-center">
        <div class="col-lg-7 product-detail-box">
            <h1>{{ post.title }}</h1>
            {% autoescape off %}
                <p>{{ post.text }}</p>
            {% endautoescape on %}

{#            {% if post.album %}#}
{#                {% for photo in post.album.photos %}#}
{#                    <img src="{{ photo.image.url }}" alt="" style="width: 100%; padding: 7px;">#}
{#                {% endfor %}#}
{#            {% endif %}#}
        </div>
    </div>

{% endblock %}