{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Create Post
{% endblock %}


{% block content %}
    {% include 'includes/small_header.html' %}

    <div class="row justify-content-md-center">
        <div class="col-lg-7">
            <h1>Create New Post</h1>
            <form action="" method="POST" enctype="multipart/form-data">

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}

                {% csrf_token %}

                {{ form.non_form_errors }}

                {% for field in form %}
                    {{ field|as_crispy_field }}

                {% endfor %}

                <button type="submit" class="btn btn-success">Create Post</button>
            </form>
        </div>
    </div>

{% endblock %}