{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center mt-90">
            <div class="col-xl-8 col-lg-9 col-md-10">

                <form action="" method="post" class="row g-3 mb-3 white-box" enctype="multipart/form-data">
                    <h2 class="mb-3 text-center">Create <b>New Post</b></h2>

                    <ul class="nav nav-tabs nav-pills nav-fill mb-5">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Bulk photo upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">One-by-one photo upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">From existing album</a>
                        </li>
                    </ul>
                    {% csrf_token %}

                    <!-- Title -->
                    <div class="col-10">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="title" name="title"
                                   placeholder="Post Title"
                                   required>
                            <label for="title" class="form-label">Title</label>

                            {% for error in form.title.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" id="status" name="status">
                                <option selected>Draft</option>
                                <option value="1">Published</option>
                                <option value="2">Private</option>
                            </select>
                            <label for="status" class="form-label">Status</label>
                            {% for error in form.status.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Text -->
                    <div class="col-12">
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="Enter post text here" id="text" name="text"
                                  style="height: 200px"></textarea>
                            <label for="text" class="form-label">Text</label>
                            {% for error in form.text.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Tags -->
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="tags" name="tags"
                                   placeholder="Post tags">
                            <label for="tags" class="form-label">Tags</label>
                            {% for error in form.tags.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Post Photos -->

                {{ select_album_form }}

                    <div class="col-lg-12 mt-3">
                        <div class="row">
                            <div class="col-2">
                                <a href="{% url 'blog' %}"
                                   class="btn btn-outline-secondary w-100 mb-3">Cancel</a>
                            </div>
                            <div class="col-10">
                                <button type="submit" class="btn btn-success w-100 mb-3">Create Post</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


{% endblock %}