{% extends 'base.html' %}

{% block title %}
    Latest Photos
{% endblock %}

{% block content %}
    {% include 'includes/small_header.html' %}
    <div class="container text-center">
        <h1>Latest Posts</h1>

        {% for post in posts %}

            <div class="container">
                <div class="blog-card spring-fever"
                     style="background: url({{ post.get_featured_image_url }}) center no-repeat;">
                    <div class="title-content">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    </div>
                    <div class="card-info">
                        {% autoescape off %}
                            {{ post.text|truncatewords:50 }}
                        {% endautoescape %}
                        <a href="{{ post.get_absolute_url }}">See Post<span
                                class="licon icon-arr icon-black"></span></a>
                    </div>
                    <div class="utility-info">
                        <ul class="utility-list">
{#                            <li><span class="licon icon-like"></span><a href="#">2</a></li>#}
{#                            <li><span class="licon icon-com"></span><a href="#">12</a></li>#}
                            <li><span class="licon icon-auth"></span><a href="#">{{ post.author|title }}</a></li>
                            <li><span class="licon icon-dat"></span>{{ post.created_on|date:"M d, Y" }}</li>
{#                            <li><span class="licon icon-tag"></span></li>#}
                        </ul>
                    </div>
                    <div class="gradient-overlay"></div>
                    <div class="color-overlay"></div>
                </div><!-- /.blog-card -->
            </div>

        {% endfor %}

    </div>
{% endblock %}