{% extends '_base.html' %}
{% load comments comments_xtd social_share hitcount_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

    <div class="global-container">
        {% include 'includes/messages.html' %}

        <div class="row justify-content-md-center">
            <div class="col-lg-7 text-center">
                <h1>{{ post.title }}</h1>
                <hr class="half-gradient-hr">
                <h6>By <b>{{ post.author|title }}</b> on
                    <b>{{ post.created_on|date:"d M Y" }}</b> | {% get_hit_count for post %} <i class="bi bi-eye"></i>
                </h6>

                <div>
                    {% for tag in post.tags.all %}
                        <div class="post-action-tag" data-tooltip="See posts with this tag">
                        <span class="badge rounded-pill bg-secondary"
                              style="font-size: .9rem; cursor: pointer;"><a
                                href="{% url 'blog:search_by_tag' tag %}"
                                style="text-decoration: none; color: #fff;">{{ tag }}</a></span>
                        </div>
                    {% endfor %}

                    {% if request.user.is_authenticated and post.author == request.user %}
                        <div id="tag-form" class="post-action-form" data-tooltip="Add tags">
                            <form action="{% url 'blog:add_tags' post.slug %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="new_tags">
                                <input type="submit" hidden/>
                            </form>
                        </div>
                    {% endif %}
                </div>


                <div class="post-action-container px-5">
                    {% post_to_facebook object_or_url "Share on Facebook" %}
                    {% post_to_whatsapp object_or_url "Share via WhatsApp" %}


                    {% if request.user.is_authenticated and post.author == request.user %}

                        <div class="post-action-button" data-tooltip="Edit post">
                            <a class="round-button edit-button"
                               href="{% url 'blog:update' post.slug %}">
                                <i class="bi bi-pencil-square"></i></a>
                        </div>

                        <div class="post-action-button" data-tooltip="Delete post">
                            <a class="round-button delete-button"
                               href="{% url 'blog:delete' post.slug %}">
                                <i class="bi bi-trash"></i></a>
                        </div>
                    {% endif %}
                </div>

                {% autoescape off %}
                    <h5>{{ post.text|linebreaks }}</h5>
                {% endautoescape on %}

                {% if post.post_photos %}
                    {% for photo in post.post_photos.all %}
                        <img src="{{ photo.image.url }}" alt="" style="width: 100%; padding: 7px;">
                        {% if photo.description %}
                            <h6>{{ photo.description|linebreaks }}</h6>
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% save_to_pinterest object_or_url "Save to pinterest" %}
            </div>


            <!-- Comments Section -->
            <div class="col-lg-7 p-3">

                <div class="card card-block m-1">
                    <div class="card-body px-5">
                        {% get_comment_count for object as comment_count %}
                        <div class="py-4 text-center">
                            <a href="{% url 'blog:home' %}">Back to the post list</a>
                            &nbsp;&sdot;&nbsp;
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                            ha{{ comment_count|pluralize:"s,ve" }} been posted.
                        </div>

                        {% if comment_count %}
                            <div class="comments">
                                {% render_xtdcomment_tree for post %}
                            </div>
                        {% endif %}
                        <h4 class="card-title text-center pb-3">Post your comment</h4>
                        {% render_comment_form for post %}
                    </div>
                </div>

                {% for object in object_list %}
                    ...
                    {% get_comment_count for object as comment_count %}
                    <p class="date">Published {{ object.publish }}
                        {% if comment_count %}
                            &sdot;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}
                        {% endif %}
                    </p>
                    ...
                {% endfor %}
            </div>
            <!-- End Comments Section -->


        </div>
    </div>
    {% add_pinterest_script %}
{% endblock %}
