{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Edit Post
{% endblock %}


{% block content %}
    <div class="global-container">

        <div class="row justify-content-md-center mt-30">
            <div class="col-lg-7 p-3">

                <h2 class="mb-5 text-center">Edit Post<i><b>{{ post.title }}</b></i></h2>

                <form action="" method="post" class="row g-3 mb-3" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form.management_form }}
                    {{ form.non_form_errors }}

                    {{ form|crispy }}
                    <!-- Title -->
                    <div class="col-10">
                        <div class="form-floating">
                            {{ form.title }}
                            <label for="title" class="form-label">Title</label>
                            {% for error in form.title.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="col-2">
                        <div class="form-floating">
                            {{ form.status }}
                            <label for="status" class="form-label">Status</label>
                            <label for="status" class="form-label">Status</label>
                            {% for error in form.status.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Text -->
                    <div class="col-12">
                        <div class="form-floating">
                        {{ form.text }}
                            <label for="text" class="form-label">Text</label>
                            {% for error in form.text.errors %}
                                <small class="text-danger ml-2">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>


                    <br>
                    <hr>
                    <br>

                    {% for formset in inlines %}
                        {{ formset.management_form|crispy }}
                        {{ formset|as_crispy_errors }}
                        {% for photo_form in formset %}
                            {% if photo_form.instance.id %}
                                Photo: {{ photo_form.instance.title|title }}<br>
                                <img src="{{ photo_form.instance.image.url }}" alt=""
                                     style="width: 100%; padding: 7px;">
                            {% else %}
                                {% if formset.forms|length > 1 %}
                                    Add another photo
                                {% else %}
                                    Add a photo
                                {% endif %}
                            {% endif %}

                            {{ photo_form|crispy }}

                            <hr>
                        {% endfor %}

                    {% endfor %}
                    <button type="submit" class="btn btn-success w-100 mb-3">Update Post</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

