{% extends 'base.html' %}

{% block title %}
    Latest Photos
{% endblock %}

{% block content %}
    {% include 'includes/small_header.html' %}

    <div class="container text-center">

        <h1>Latest Posts</h1>

        <div class="row">
            {% for post in posts %}

                <div class="col-md-12 col-lg-6">
                    <div class="blog-card"
                         style="background: url({{ post.get_featured_image_url }}) center no-repeat; ">
                        <div class="title-content">
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a></h3>
                        </div>
                        <div class="card-info">
                            {% autoescape off %}
                                {{ post.text|truncatewords:25 }}
                            {% endautoescape %}
                            <a href="{{ post.get_absolute_url }}">See Post <i class="bi bi-chevron-double-right"></i></a>
                        </div>
                        <div class="utility-info">
                            <ul class="utility-list">
                                <li><i class="bi bi-person"></i><a href="#">  {{ post.author|title }}</a></li>
                                <li><i class="bi bi-calendar"></i>  {{ post.created_on|date:"d M Y" }}</li>
                                <li><i class="bi bi-images"></i>  {{ post.post_photos.all.count }}</li>

                            </ul>
                        </div>
                        <div class="gradient-overlay"></div>
                        <div class="color-overlay"></div>
                    </div><!-- /.blog-card -->
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}