{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}
    {% include 'includes/small_header.html' %}
    <div class="container">
        <h1>Add New Photo</h1>
        <div id='backend_upload'>
            <form class="form-container" action="{% url "add_photo" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ backend_form|crispy }}
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
{% endblock %}
