{% extends 'base.html' %}

{% block title %}
    Albums
{% endblock %}

{% block content %}

    <div class="container global-container text-center">

        {% include 'includes/messages.html' %}

        <div class="row">
            {% for album in albums %}

                <div class="col-md-12 col-lg-6">
                    <div class="blog-card"
                         style="background: url({{ album.get_featured_image_url }}) center no-repeat; ">
                        <div class="title-content">
                            <h3><a href="{{ album.get_absolute_url }}">{{ album.title|title }}</a></h3>
                        </div>
                        <div class="card-info">
                            <a href="{{ album.get_absolute_url }}">See Album</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}