{% extends '_base.html' %}

{% block title %}
    Album Details
{% endblock %}


{% block stylesheet %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />
{% endblock %}

{% block content %}
    <div class="global-container">

        <div class="container">
            <section>
                <div class="masonry masonry--h">
                    {% for photo in photos %}
                        <figure class="masonry-brick masonry-brick--h">
                            <a data-fancybox="gallery" href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" alt="" class="masonry-img"></a>
                        </figure>
                    {% endfor %}
                </div>
            </section>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
{% endblock %}